.hero-container {
    min-height: 820px;
    position: relative;

    .hero-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
    }
}

.hero {
    height: 100%;
    .dine-logo {
        position: absolute;
        margin-top: 65px;
    }
}

.exquisite {
    color: $clr2;
    position: absolute;
    bottom: 198px;
    .exquisite-title {
        letter-spacing: -0.8px;
        font-weight: 300;
        font-size: 64px;
        line-height: 72px;
        width: 524px;
    }

    .exquisite-text {
        width: 445px;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.225px;
        margin-top: 24px;
        margin-bottom: 42px;
    }

    .book-a-table-btn {
        border: 1px solid $clr2;
    }
}
