// Colors

$clr1: #111111;
$clr2: #ffffff;
$clr3: #9e7f66;
$clr4: #f2f2f2;
$clr5: #5c6779;
$clr6: #242b37;
$clr7: #4c4c4c;

// Breakpoints
$narrow-mobile-breakpoint: 400px;
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1160px;
